<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJordanEPAService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://epa.plexxis.com/Jordan/JordanEPAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJordanEPAService"
                contract="Service.IJordanEPAService" name="BasicHttpBinding_IJordanEPAService" />
        </client>
    </system.serviceModel>
</configuration>