<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>

    <add name="DbFirstEntities" connectionString="metadata=res://*/Models.DbFirst.csdl|res://*/Models.DbFirst.ssdl|res://*/Models.DbFirst.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.0.1.96)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = PLE1LIVE)))&quot;;password=!!!plex!!!sa;persist security info=True;user id=C##EPA'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
<!--
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="Effort.Provider" type="Effort.Provider.EffortProviderServices, Effort" />
    </providers> -->

  </entityFramework>
<!--
  <system.data>
    <DbProviderFactories>
      <add name="Effort.Provider"
           invariant="Effort.Provider"
           description="Effort.Provider"
           type="Effort.Provider.EffortProviderFactory, Effort" />
    </DbProviderFactories>
  </system.data>
  -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" /> -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- <service name="EPA.Services.EPAService">
        <endpoint address="" binding="basicHttpBinding" contract="EPA.Services.IEPAService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/EPA.Services/EPAService/" />
          </baseAddresses>
        </host>
      </service> -->
    </services>
  </system.serviceModel>
</configuration>